
@media (width >= 376px){

  :root{
    --mob-h1: bolder 64px/120% var(--font-family-inter);
    --mob-h2: bolder 48px/120% var(--font-family-inter);
    --mob-h3: bolder 32px/120% var(--font-family-inter);
    --mob-span: medium 14px/100% var(--font-family-inter);
    --mob-paragraph: normal 16px/160% var(--font-family-inter); 

    --pinline:32px;
    --pblock:80px;
    --nav:linear-gradient (90deg,
      var(--brand-color-primary)0%,var(--brand-color-secondary)100%);

      
  }

}

@media (width >= 376px){
  .container{
    --max-width: 1280px;
    --pblock:80px;
    --pinline:32px;
    --pnavin:32px;
    --pnavb:24px;


    .features{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(10px, 350px));
      gap: 32px;
    }
  }

  .desktop-only{
    display: initial;
  }

  

}


