.download{
  background-color: var(--background-color);
  padding-left: 32px;
  padding-block: 80px;
  

  .descricoesdow{
    display: flex;
    background-color: var(--surface-color);
    border-radius: 10px;
    width: 1216px;
    height: 542px;
    
    
    .tudo{
      display: flex;
      align-items: center;
      .descrito{
        padding-inline: 80px;
        padding-block: 140px;
        width: 640px;
        & > span{
        color: var(--brand-color-primary);
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 1.12px;
        font-family: var(--font-family-inter);
        }

        & > h1{
          color: var(--text-color-primary);
          font-size: 48px;
          font-family: var(--font-family-inter);
          font-weight: 800;
          letter-spacing: -1.92px;
        }

        & > p{
          color: var(--text-color-secondary);
          font-family: var(--font-family-inter);
          font-size: 16px;
          font-weight: 400;
        }

        & > .buttonss{
          padding-top: 32px;
          display: flex;
          gap: 15px;
          & > .app{
            & > img{
            width: 160px;
            height: 56px;
            }
           
          }

          & > .play{
            & > img{
              width: 160px;
              height: 56px;
            }
          }
        }
      }
      
      .redesdonw{
        display: grid;
        align-self: flex-end;
        .image-down{
          width: 466px;
          height: 627px;
        }
      }
      
    }



    
 
  }
  
}