.download{
  background-color: var(--background-color);
  padding-block: 48px;
  padding-inline: 24px;

  .descricoesdow{
    background-color: var(--surface-color);
    border-radius: 10px;
    padding-top: 48px;
    padding-inline: 24px;
    
    .tudo{
      display: grid;
      align-items: center;
      gap: 10px;
      .descrito{
        width: 279px;
        height: 215px;
        & > span{
        color: var(--brand-color-primary);
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 1.12px;
        font-family: var(--font-family-inter);
        }

        & > h1{
          color: var(--text-color-primary);
          font-size: 24px;
          font-family: var(--font-family-inter);
          font-weight: 800;
          letter-spacing: -1.92px;
        }

        & > p{
          color: var(--text-color-secondary);
          font-family: var(--font-family-inter);
          font-size: 16px;
          font-weight: 400;
        }

        .buttonss{
          padding-top: 32px;
          display: grid;
          gap: 15px;
          & > .app{
            & > img{
            width: 158px;
            height: 56px;
            }
           
          }

          & > .play{
            & > img{
              width: 158px;
              height: 56px;
            }
          }
        }

      }
      
      .redesdonw{
        display: flex;
        justify-content: end;
        padding-left: 90px;
        .image-down{
          width: 238px;
          height: 320px;
        }
      }
      
    }

 
  }
  
}