
@media (width <= 375px) {
  :root{
    --mob-h1: bolder 40px/120% var(--font-family-inter);
    --mob-h2: bolder 24px/120% var(--font-family-inter);
    --mob-h3: bolder 20px/120% var(--font-family-inter);
    --mob-span: medium 14px/100% var(--font-family-inter);
    --mob-paragraph: normal 16px/160% var(--font-family-inter); 

    --pinline:24px;
    --pblock:48px;
    --pnavin:32px;
    --pnavb:24px;
  }

}

@media (width <= 375px){
  .container{
    --max-width: 375px;
    --pblock:48px;
    --pinline:24px;
    
    
    .desktop-only{
      display: none;
    }

    .naves{
      display: none;
    }
    
    .hero{
      display: grid;       
      gap: 32px;
      .img-hero{
        width: 206px;
        height: 52px;
      }

      .textos-hero h1{
        
        color: var(--text-color-primary);
        font-family: var(--font-family-inter);
        font-size: 40px;
        font-weight: 800;
        letter-spacing: -1.6px;
        display: flex;
        
        justify-content: center;
        text-align: center;      
      }

      .textos-hero h2{
        color: var(--text-color-secondary);
        font-family: var(--font-family-inter);
        font-size: 20px;
        font-weight: 800;
        letter-spacing: -1.6px;
        display: flex;
        justify-content: center;
        text-align: center;      
      }
      .textos-hero{
        display: grid;
        gap: 8px;
        
      }
     
      .buttons-principal{
      display: flex;
      gap: 16px;
        .button-principal{    
          width: 144px;
          height: 48px;          
        }
        
      }
    }
  }
}


