.features{
   background-color: var(--background-color);
}

.cards{
  display: grid;
  gap: 24px;
 
}

.card{
  background-color: var(--surface-color);
  border: 1px solid var(--stroke-color); 
  border-radius: 1.5rem; 
  padding-block: 40px;
  padding-inline: 32px;
  
  

  & h3{ 
    margin-top: 5px;
    color: var(--text-color-primary);
    font-size: 20px;
    font-family: var(--font-family);
  }

  & p{
    margin-top: 8px;
    color: var(--text-color-secondary);
  }
}