.nav [aria-label]{
    position: relative;
    border: 0;
    background-color: transparent;
    align-items: center;
    align-content: center;
    width: fit-content;
    text-decoration: none;
    
    
    &::after{
      content: attr(aria-label);
      background-color: rgb(253, 255, 255);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      
    }
   
}

.padding-nav{
  background-color: var(--background-color);
  display: flex;
  gap: 50px;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  align-self: center;

  .naves{
    display: flex;
    gap: 24px;
    align-items: center;
    align-content: center;
    align-self: center;
     & > .button-nav{
     width: 144px;
     height: 48px;
     border-radius: 10px; 

     }
    .navigation{
      display: flex;
      gap: 30px;
     align-items: center;
    align-content: center;
    align-self: center;
    }
  }
  .logo {
    font: var(--logo);
    color: var(--text-color-primary);
  }
}

