.hero{
  display: grid;
  background-color: var(--background-color);
  justify-content: center;
  align-items: center;
  justify-items: center;
  justify-self: center;
  align-items: center;
  gap: 40px;

  & > .buttons-principal{
    & > .button-principal{
      width: 155px;
      height: 56px;
      border-radius: 10px;

    }
    & > .button-plano{
      background-color: black;
      color: var(--text-color-primary);
      border: 2px solid var(--text-color-primary);
    }
  }
   .img-hero{
    display: flex;  
    width: 412px;
    height: 104px;
   }

   

  
}